header {
  display: block;
  width: auto;
  height: auto;
  font-size: x-large;
  text-align: start;
}

#paus {
  color: red;
  border: red solid 2px;
  background-color: none;
  height: auto;
  position: absolute;
  left: 5%;
  top: 36%;
  display: none;
}

main {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.game-status {
  display: block;
  width: 14rem;
}

.canvas-cover {
  width: auto;
  /* text-align: center; */
}
#canvas {
  border: black solid 2px;
  width: auto;
}

section {
  width: auto;
  padding: 2rem;
}

* * {
  outline: limegreen solid 1px;
}
@media (max-width: 460px) {
  main {
    display: flex;
    flex-direction: column;
  }
  #paus {
    left: 19%;
    top: 36%;
    display: none;
  }
}
